body{
  margin: 0;
  display: flex;
  min-height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  min-width: 130px;
}

nav {

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {

}

main {
  max-width: 900px;
  flex: 1;
  margin: 0 auto;
}

footer {
  display: none;
}

.side-footer {
  height: 60px;
  margin-top: auto;
}


/* レスポンシブデザイン */
@media screen and (max-width:1000px) {
  body {
    height: 1500px;
    flex-direction: column;
  }

  main {
    width: 100%;
  }

  footer {
    display: block;
    margin-bottom: 24px;
  }

  .side-footer {
    display: none;
  }

  aside {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  nav ul {
    display: flex;
  }

  nav li {
    flex: 1;
  }
}
